:root {
  --copper-rose: #A26769;
  --old-mauve: rgb(112, 32, 32);
  --platinum: rgb(241, 241, 241);
  --dark-gray: rgb(136, 136, 136);
  --medium-gray: rgb(167, 167, 167);
  --light-gray: rgb(197, 196, 196);
}
