.widgetParent {
  display: flex;
  flex-flow: column nowrap;
  min-height: 500px;
  position: absolute;
  top: calc(100% - 520px);
  right: calc(3%);
}

.chatWidget {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  background-color: var(--old-mauve);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  cursor: pointer;
}

.chatWidget::before,
.chatWidget::after {
  position: absolute;
  border-radius: 50%;
  content: "";
  z-index: -1;
  border: 1px solid var(--old-mauve);
  animation: pulse 2s ease-out infinite;
  animation-play-state: paused;
  display: none;
}

.chatWidget::before {
  height: 87px;
  width: 87px;
}

.chatWidget::after {
  height: 95px;
  width: 95px;
}

.chatWidget:hover::before,
.chatWidget:hover::after {
  display: block;
  animation-play-state: running;
}

@keyframes pulse {
  100% {
    transform: scale(1.1);
  }
}

.icon {
  color: white;
}
